@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }
}

@layer utilities {
  .boxshadow {
    box-shadow: 0 0 5px #03e9f4, 0 0 20px #03e9f4, 0 0 5px #03e9f4, 0 0 10px;
  }
  .image {
    box-shadow: 0 0 5px #03e9f4, 0 0 20px #03e9f4, 0 0 5px #03e9f4, 0 0 2px;
  }
  .links {
    box-shadow: 0 0 5px #03e9f4, 0 0 5px #03e9f4, 0 0 5px #03e9f4, 0 0 2px;
  }
  .demo {
    box-shadow: 0 0 5px #e0e1ed, 0 0 5px #e0e1ed, 0 0 5px #e0e1ed, 0 0 2px;
  }
  .project-box {
    box-shadow: 0 0 5px #858587, 0 0 5px #858587, 0 0 5px #858587, 0 0 2px;
  }
  .newlink {
    box-shadow: 0 0 5px #03e9f4, 0 0 5px #03e9f4, 0 0 5px #03e9f4, 0 0 2px;
  }
}

.navlink {
  position: relative;
  transition: 0.2s;
}

.navlink:hover {
  color: #ffffff;
}
.navlink::after {
  content: "";
  position: absolute;
  background-color: #78909c;
  height: 3.5px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.2s;
}

.navlink:hover::after {
  width: 100%;
}

.project-btn {
  border: 1px solid #ffffff;
  color: white;
  background: none;
  cursor: pointer;
  transition: 0.5 s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.project-btn:hover {
  color: black;
}

.project-btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
}
.project-btn::before {
  left: 0;
  top: 0;
}

.project-btn:hover::before {
  width: 180%;
}
